{% load static %}
   <!-- latest jquery-->
    <script src="{% static 'javascrirpt/jquery-3.5.1.min.js' %}"></script>

    <!-- Add To Home js -->
    <script src="{% static 'javascrirpt/pwa.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'javascrirpt/bootstrap.bundle.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'javascrirpt/feather.min.js' %}"></script>

    <!-- lazyload js-->
    <script src="{% static 'javascrirpt/lazysizes.min.js' %}"></script>

    <!-- Slick js-->
    <script src="{% static 'javascrirpt/slick.js' %}"></script>
    <script src="{% static 'javascrirpt/slick-animation.min.js' %}"></script>
    <script src="{% static 'javascrirpt/custom_slick.js' %}"></script>

    

    <!-- Timer Js -->
    <script src="{% static 'javascrirpt/timer.js' %}"></script>
    <script src="{% static 'javascrirpt/timer1.js' %}"></script>
    <script src="{% static 'javascrirpt/timer2.js' %}"></script>
    <script src="{% static 'javascrirpt/timer3.js' %}"></script>

    <!-- sticky cart bottom js-->
    <script src="{% static 'javascrirpt/sticky-cart-bottom.js' %}"></script>

    <!-- sticky cart bottom js-->
    <script src="{% static 'javascrirpt/check-box-select.js' %}"></script>

    <!-- 360 View Js -->
    <script src="{% static 'javascrirpt/threesixty.js' %}"></script>
    <script src="{% static 'javascrirpt/custome-threesixty.js' %}"></script>

    <!-- Zoom Js -->
    <script src="{% static 'javascrirpt/jquery.elevatezoom.js' %}"></script>
    <script src="{% static 'javascrirpt/zoom-filter.js' %}"></script>

    <!--Plugin JavaScript file-->
    <script src="{% static 'javascrirpt/ion.rangeSlider.min.js' %}"></script>

    <!-- add to cart modal resize -->
    <script src="{% static 'javascrirpt/cart_modal_resize.js' %}"></script>

    <!-- Filter Hide and show Js -->
    <script src="{% static 'javascrirpt/filter.js' %}"></script>

    <!-- Notify js-->
    <script src="{% static 'javascrirpt/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'javascrirpt/script.js' %}"></script>