{% load static %}
<section class="category-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="title title-2 text-center">
                    <h2>Categories</h2>
                    <h5>Our collection</h5>
                </div>
            </div>
        </div>
        <div class="category-wrapper category-slider white-arrow">

            <div>
                <div class="category-wrap category-color">
                    <a href="javascript:void()">
                        <img loading="lazy" style="width: 100px;"
                            src="{% static 'assets/images/home_page_images/category_bottle.png' %}" class="img-fluid blur-up lazyload"
                            alt="category image">
                        <div class="category-content category-text t-text">
                            <h3>Gym Bottles</h3>


                        </div>
                    </a>
                </div>
            </div>

            <div>
                <div class="category-wrap category-color">
                    <a href="javascript:void()">
                        <img loading="lazy" style="width: 100px;"
                            src="{% static 'assets/images/home_page_images/category_gym_wear.png' %}"
                            class="img-fluid blur-up lazyload" alt="category image">
                        <div class="category-content category-text t-text">
                            <h3>Gym Wear</h3>


                        </div>
                    </a>
                </div>
            </div>

            <div>
                <div class="category-wrap category-color">
                    <a href="javascript:void()">
                        <img loading="lazy" style="width: 100px;"
                            src="{% static 'assets/images/home_page_images/category_accessories.png' %}"
                            class="img-fluid blur-up lazyload" alt="category image">
                        <div class="category-content category-text t-text">
                            <h3>Accessories</h3>


                        </div>
                    </a>
                </div>
            </div>

            <div>
                <div class="category-wrap category-color">
                    <a href="javascript:void()">
                        <img loading="lazy" style="width: 100px;"
                            src="{% static 'assets/images/home_page_images/category_shoes.png' %}" class="img-fluid blur-up lazyload"
                            alt="category image">
                        <div class="category-content category-text t-text">
                            <h3>Gym Shoes</h3>


                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>