{% load static %}
<!-- Poster Section Start -->
<section class="poster-section ratio2_1">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="poster-image">
                        <img loading="lazy" src="{% static 'assets/images/home_page_images/gym_bottles_1.jpg' %}"
                            class="img-fluid bg-img blur-up lazyload" alt="">
                        <div class="poster-image-details">
                            <div>
                                <h5>Get 15% Rewarded</h5>
                                <h2>Gym Bottles</h2>
                                <p class="d-sm-block d-none my-1">Latest Sports shoes</p>

                                <h3>£14.00<span>
                                        <del>

                                            £16.00

                                        </del></span>
                                </h3>


                                <a href="javascript:void()" class="btn btn-solid-default">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-6">
                    <div class="poster-image">
                        <img loading="lazy" src="{% static 'assets/images/home_page_images/hipthrustbelt_3.png' %}"
                            class="img-fluid bg-img blur-up lazyload" alt="">
                        <div class="poster-image-details">
                            <div>
                                <h5>Get 12% Rewarded</h5>
                                <h2>Hip Thrust Belts</h2>
                                <p class="d-sm-block d-none my-1">Perfect Mixture Shoes</p>

                                <h3>£22.00<span>
                                        <del>

                                            £25.00

                                        </del></span>
                                </h3>


                                <a href="javascript:void()" class="btn btn-solid-default">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Poster Section End -->