{% load static %}
<section class="ratio_asos section-b-space overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-lg-4 mb-3">Customers Also Bought These</h2>
                <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space">

                    <!-- CREATE FEATURED LIST -->
                    <div>
                        <div class="product-box" id="allProducts">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="/product-detail/6ffb3fa3-513a-4d7b-93b0-92f2fcf15e77">
                                        <img loading="lazy" src="/fashion/product/front/3_C7phkb0.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                        <img loading="lazy" src="/fashion/product/front/3_C7phkb0.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="/product-detail/6ffb3fa3-513a-4d7b-93b0-92f2fcf15e77">
                                        <img loading="lazy" src="/fashion/product/back/3_zDAL3jj.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                        <img loading="lazy" src="/fashion/product/back/3_zDAL3jj.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                <div class="cart-wrap">
                                    <ul>
                                        <li>
                                            <a href="/add_to_cart/38d7bae9-72a6-471d-bce4-d8cc4b36418e/1"
                                                class="addtocart-btn">
                                                <i data-feather="shopping-bag"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a onclick="handleQuickView({'productId':'6ffb3fa3-513a-4d7b-93b0-92f2fcf15e77','productVariantId':'38d7bae9-72a6-471d-bce4-d8cc4b36418e'})"
                                                data-bs-toggle="modal" href="#quick-view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/compare_products/38d7bae9-72a6-471d-bce4-d8cc4b36418e"
                                                class="add-to-compare-list">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/add_to_wishlist/38d7bae9-72a6-471d-bce4-d8cc4b36418e"
                                                class="wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details">
                                <div class="rating-details">
                                    <span class="font-light grid-content">Jeans</span>
                                    <div class="star-rating">
                                        <ul class="rating mt-0">
                                            <!-- ------------------------------------------------------------------- -->


                                            <li><i class="fas fa-star theme-color"></i></li>

                                            <li><i class="fas fa-star theme-color"></i></li>

                                            <li><i class="fas fa-star theme-color"></i></li>




                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>

                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>




                                            <!-- ------------------------------------------------------------------- -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-price">
                                    <a href="/shop_left_slidebar" class="font-default">
                                        <h5>Allen Solly</h5>
                                    </a>
                                    <div class="listing-content">
                                        <span class="font-light">Regular Fit</span>
                                        <p class="font-light">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Sit, deserunt? Asperiores aliquam voluptatum culpa aliquid
                                            ab ducimus eaque illum, quibusdam reiciendis id ad
                                            consectetur quis, animi qui, minus quidem eveniet! Dolorum
                                            magnam numquam, asperiores accusantium architecto placeat
                                            quam officia, tempore repellendus.
                                        </p>
                                    </div>



                                    <h3 class="theme-color">
                                        $51.00
                                    </h3>


                                    <button
                                        onclick="location.href = '/add_to_cart/38d7bae9-72a6-471d-bce4-d8cc4b36418e/1';"
                                        class="btn listing-content">Add
                                        To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-box" id="allProducts">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="/product-detail/b5eddca5-f036-41b4-8c27-d0464f281863">
                                        <img loading="lazy" src="/fashion/product/front/8_UFHGgti.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                        <img loading="lazy" src="/fashion/product/front/8_UFHGgti.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="/product-detail/b5eddca5-f036-41b4-8c27-d0464f281863">
                                        <img loading="lazy" src="/fashion/product/back/8_omFPmhL.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                        <img loading="lazy" src="/fashion/product/back/8_omFPmhL.jpg"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>
                                <div class="cart-wrap">
                                    <ul>
                                        <li>
                                            <a href="/add_to_cart/3cdf655b-de8c-4703-962e-80d76adfb528/1"
                                                class="addtocart-btn">
                                                <i data-feather="shopping-bag"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a onclick="handleQuickView({'productId':'b5eddca5-f036-41b4-8c27-d0464f281863','productVariantId':'3cdf655b-de8c-4703-962e-80d76adfb528'})"
                                                data-bs-toggle="modal" href="#quick-view">
                                                <i data-feather="eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/compare_products/3cdf655b-de8c-4703-962e-80d76adfb528"
                                                class="add-to-compare-list">
                                                <i data-feather="refresh-cw"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/add_to_wishlist/3cdf655b-de8c-4703-962e-80d76adfb528"
                                                class="wishlist">
                                                <i data-feather="heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-details">
                                <div class="rating-details">
                                    <span class="font-light grid-content">Jeans</span>
                                    <div class="star-rating">
                                        <ul class="rating mt-0">
                                            <!-- ------------------------------------------------------------------- -->


                                            <li><i class="fas fa-star theme-color"></i></li>

                                            <li><i class="fas fa-star theme-color"></i></li>

                                            <li><i class="fas fa-star theme-color"></i></li>




                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>

                                            <li>
                                                <i class="fas fa-star"></i>
                                            </li>




                                            <!-- ------------------------------------------------------------------- -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-price">
                                    <a href="/shop_left_slidebar" class="font-default">
                                        <h5>T-shirt</h5>
                                    </a>
                                    <div class="listing-content">
                                        <span class="font-light">Regular Fit</span>
                                        <p class="font-light">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                            Sit, deserunt? Asperiores aliquam voluptatum culpa aliquid
                                            ab ducimus eaque illum, quibusdam reiciendis id ad
                                            consectetur quis, animi qui, minus quidem eveniet! Dolorum
                                            magnam numquam, asperiores accusantium architecto placeat
                                            quam officia, tempore repellendus.
                                        </p>
                                    </div>

                                    <h3 class="theme-color">$108.00
                                    </h3>


                                    <button
                                        onclick="location.href = '/add_to_cart/3cdf655b-de8c-4703-962e-80d76adfb528/1';"
                                        class="btn listing-content">Add
                                        To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>