  {% load static %}
  <!-- home slider start -->
  <section class="pt-0 overflow-hidden">
    <div>
        <div class="banner-slider box-arrow">
            <!-- Slider 1 Start -->



            <div class="banner-poster">
                <div class="slider-right-detail">
                    <div class="labels">
                        <ul class="label-15">
                            <li>
                                <a href="https://www.facebook.com/">
                                    <img loading="lazy" src="{% static 'home_page_images/facebook_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="facebook">
                                    <h5 class="d-lg-block d-none">Facebook</h5>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <img loading="lazy" src="{% static 'home_page_images/instagram_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="Instagram">
                                    <h5 class="d-lg-block d-none">Instagram</h5>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/">
                                    <img loading="lazy" src="{% static 'home_page_images/twitter_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="Twitter">
                                    <h5 class="d-lg-block d-none">Twitter</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h4>New Festival Offer</h4>
                    <div class="offer-box">
                        <h6>15% OFF</h6>
                    </div>
                </div>

                <div class="slider-bg">
                    <div class="bg-text">
                        <span>Gym Bottles</span>
                    </div>

                    <div class="bg-circle"></div>
                    <img loading="lazy" src="{% static 'home_page_images/gymbottle_1_transparent.png' %}"
                        class="shoes-1 img-fluid blur-up lazyload" alt="">
                </div>

                <div class="sugestion-product d-xl-block d-none">
                    <h3>Suggested Product</h3>
                    <h6>Our Collection</h6>

                    <a href="/shop_left_slidebar" class="slider-shoes-image d-block">
                        <div class="relative-shoes">
                            <img loading="lazy" src="{% static 'home_page_images/gymbottle_2_transparent.png' %}"
                                class="img-fluid blur-up lazyload" alt="">
                            <div class="shoes-price">
                                <h5>£14.00</h5>
                                <h6>Gym Bottles</h6>
                                <ul class="rating d-flex justify-content-between">
                                    <!-- ------------------------------------------------------------------- -->

                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>

                                    <!-- ------------------------------------------------------------------- -->
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="price-number">
                    <h2>$14.00<span>
                            <del>

                                $16.00

                            </del></span>
                    </h2>
                    <h6>
                        <p>Nike edition shoes</p>
                    </h6>
                </div>

                <div class="slider-arrow-2">
                    <div class="left-arrow d-lg-block d-none"></div>
                    <div class="right-arrow d-lg-block d-none"></div>
                </div>
            </div>




            <div class="banner-poster">
                <div class="slider-right-detail">
                    <div class="labels">
                        <ul class="label-15">
                            <li>
                                <a href="javascript:void()">
                                    <img loading="lazy" src="{% static 'home_page_images/facebook_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="facebook">
                                    <h5 class="d-lg-block d-none">Facebook</h5>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <img loading="lazy" src="{% static 'home_page_images/instagram_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="Instagram">
                                    <h5 class="d-lg-block d-none">Instagram</h5>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/">
                                    <img loading="lazy" src="{% static 'home_page_images/twitter_icon.png' %}"
                                        class="img-fluid blur-up lazyload" alt="Twitter">
                                    <h5 class="d-lg-block d-none">Twitter</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h4>New Festival Offer</h4>
                    <div class="offer-box">
                        <h6>12% OFF</h6>
                    </div>
                </div>

                <div class="slider-bg">
                    <div class="bg-text">
                        <span>Hip Belts</span>
                    </div>

                    <div class="bg-circle"></div>
                    <img loading="lazy" src="{% static 'home_page_images/hipthrustbelt_1_transparent.png' %}"
                        class="shoes-1 img-fluid blur-up lazyload" alt="">
                </div>

                <div class="sugestion-product d-xl-block d-none">
                    <h3>Sugestion Product</h3>
                    <h6>Our Collection</h6>

                    <a href="/shop_left_slidebar" class="slider-shoes-image d-block">
                        <div class="relative-shoes">
                            <img loading="lazy"
                                src="{% static 'home_page_images/hipthrustbelt_2_transparent.png' %}"
                                class="img-fluid blur-up lazyload" alt="">
                            <div class="shoes-price">
                                <h5>£22.00</h5>
                                <h6>Hip Belts</h6>
                                <ul class="rating d-flex justify-content-between">
                                    <!-- ------------------------------------------------------------------- -->

                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>
                                    <li>
                                        <i class="fas fa-star theme-color"></i>
                                    </li>

                                    <!-- ------------------------------------------------------------------- -->
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="price-number">
                    <h2>$22.00<span>
                            <del>

                                $25.00

                            </del></span>
                    </h2>
                    <h6>
                        <p>Puma Shoes</p>
                    </h6>
                </div>

                <div class="slider-arrow-2">
                    <div class="left-arrow d-lg-block d-none"></div>
                    <div class="right-arrow d-lg-block d-none"></div>
                </div>
            </div>

















            <!-- Slider 1 End -->
        </div>
    </div>
</section>
<!-- home slider end -->