<!DOCTYPE html>
{% load static %}


{% include 'commons/common_links.html' %}



<!-- Loader div Start -->
<div class='loader-wrapper' id="loaderWrapper">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<!-- Loader div End -->


<body class="theme-color3 light ltr">


  <!-- header start -->
  {% include 'commons/header.html' %}
  <!-- header end -->





  <!-- mobile fix menu start -->
  {% include 'commons/mobile-fixed-menu.html' %}
  <!-- mobile fix menu end -->


  <!-- home slider start -->
  {% include 'commons/home-page-banner.html' %}

  <!-- home slider end -->




  <!-- service section start -->
  <section class="service-section service-style-2 section-b-space">
    <div class="container">
      <div class="row g-4 g-sm-3">
        <div class="col-xl-3 col-sm-6">
          <div class="service-wrap">
            <div class="service-icon">
              <svg>
                <use xlink:href="static/assets/images/svg/icons.svg#customer"></use>
              </svg>
            </div>
            <div class="service-content">
              <h3 class="mb-2">Customer Servcies</h3>
              <span class="font-light">Top notch customer service.</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="service-wrap">
            <div class="service-icon">
              <svg>
                <use xlink:href="static/assets/images/svg/icons.svg#shop"></use>
              </svg>
            </div>
            <div class="service-content">
              <h3 class="mb-2">Pickup At Any Store</h3>
              <span class="font-light">Free shipping on orders over $65.</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="service-wrap">
            <div class="service-icon">
              <svg>
                <use xlink:href="static/assets/images/svg/icons.svg#secure-payment"></use>
              </svg>
            </div>
            <div class="service-content">
              <h3 class="mb-2">Secured Payment</h3>
              <span class="font-light">We accept all major credit cards.</span>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="service-wrap">
            <div class="service-icon">
              <svg>
                <use xlink:href="static/assets/images/svg/icons.svg#return"></use>
              </svg>
            </div>
            <div class="service-content">
              <h3 class="mb-2">Free Returns</h3>
              <span class="font-light">30-days free return policy.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service section end -->


  <!-- Poster Section -->
  {% include 'commons/homepage_commons/poster-section.html' %}
  <!-- Poster Section -->
  
  
  
  <!-- Latest Products Section -->
  {% include 'commons/homepage_commons/latest-products.html' %}
  <!-- Latest Products Section -->
  
  
  
  <!-- Poster Section 2 -->
  {% include 'commons/homepage_commons/poster-section-2.html' %}
  <!-- Poster Section 2 -->
  
  
  <!-- Category Section -->
  {% include 'commons/homepage_commons/category-section.html' %}
  <!-- Category Section -->
  
  
  
  <!-- Deal Section -->
  {% include 'commons/homepage_commons/deal-section.html' %}
  <!-- Deal Section -->


  <!-- Subscribe Section Start -->
  {% include 'commons/newsletter.html' %}
  <!-- Subscribe Section End -->




  <!-- Footer Section -->
  {% include 'commons/footer.html' %}





  <!-- Quick view modal start -->
  <div class="modal fade quick-view-modal" id="quick-view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        <div class="modal-body">
          <div class="row gy-4">

            <div class="col-lg-6 ratio_2">
              <div class="quick-view-image" id="quickViewImagesDiv">
                <img loading="lazy" id="quickViewImage" class="product-quick-view img-fluid bg-img blur-up lazyload"
                  alt="product">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="product-right" id="productRight">
                <h2 class="mb-2" id="productName"></h2>
                <ul class="rating mt-1" id="productRating">

                  <li class="font-light" id="stockStatus"></li>
                </ul>
                <div id="priceLabel" class="price mt-3">
                  <h3 id="productPrice">$20.00</h3>
                  <del class="font-light mx-2" id="actualPriceAtQuickView"></del>
                  <span class="theme-color" id="discountPercentageAtQuickView"></span>
                </div>
                <div class="price mt-3" id="priceLabel2"></div>




                <div class="product-btns" id="productBtnDiv">
                  <a id="addToCart" class="btn btn-solid-default btn-sm">Add to cart</a>
                  <a id="productLeftSlidebar" class="btn btn-solid-default btn-sm">View
                    details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick view modal end -->



  <!-- Newsletter modal start -->
  <div class="modal fade newletter-modal" id="newsletter">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <img loading="lazy" src="/voxo/voxoapp/static/assets/images/newletter-icon.png"
            class="img-fluid blur-up lazyload" alt="">
          <div class="modal-title">
            <h2 class="tt-title">Sign up for our Newsletter!</h2>
            <p class="font-light">Never miss any new updates or products we reveal, stay up to date.</p>
            <p class="font-light">Oh, and it's free!</p>

            <div class="input-group mb-3">
              <input placeholder="Email" class="form-control" type="text">
            </div>

            <div class="cancel-button text-center">
              <button class="btn default-theme w-100" data-bs-dismiss="modal" type="button">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Newsletter modal end -->





  <!-- Cart Successful Start -->
  <div class="modal fade cart-modal" id="addtocart" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="modal-contain">
            <div>
              <div class="modal-messages">
                <i class="fas fa-check"></i> 3-stripes full-zip hoodie successfully added to
                you cart.
              </div>
              <div class="modal-product">
                <div class="modal-contain-img">
                  <img loading="lazy" src="/voxo/voxoapp/static/assets/images/fashion/instagram/4.jpg"
                    class="img-fluid blur-up lazyload" alt="">
                </div>
                <div class="modal-contain-details">
                  <h4>Premier Cropped Skinny Jean</h4>
                  <p class="font-light my-2">Yellow, Qty : 3</p>
                  <div class="product-total">
                    <h5>TOTAL : <span>$1,140.00</span></h5>
                  </div>
                  <div class="shop-cart-button mt-3">
                    <a href="shop-left-sidebar.html"
                      class="btn default-light-theme conti-button default-theme default-theme-2 rounded">CONTINUE
                      SHOPPING</a>
                    <a href="cart.html"
                      class="btn default-light-theme conti-button default-theme default-theme-2 rounded">VIEW
                      CART</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ratio_asos mt-4">
            <div class="container">
              <div class="row m-0">
                <div class="col-sm-12 p-0">
                  <div class="product-wrapper product-style-2 slide-4 p-0 light-arrow bottom-space spacing-slider">
                    <div>
                      <div class="product-box">
                        <div class="img-wrapper">
                          <div class="front">
                            <a href="/shop_left_slidebar">
                              <img loading="lazy" src="/voxo/voxoapp/static/assets/images/fashion/product/front/1.jpg"
                                class="bg-img blur-up lazyload" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="product-details text-center">
                          <div class="rating-details d-block text-center">
                            <span class="font-light grid-content">B&Y Jacket</span>
                          </div>
                          <div class="main-price mt-0 d-block text-center">
                            <h3 class="theme-color">$78.00</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="product-box">
                        <div class="img-wrapper">
                          <div class="front">
                            <a href="/shop_left_slidebar">
                              <img loading="lazy" src="/voxo/voxoapp/static/assets/images/fashion/product/front/2.jpg"
                                class="bg-img blur-up lazyload" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="product-details text-center">
                          <div class="rating-details d-block text-center">
                            <span class="font-light grid-content">B&Y Jacket</span>
                          </div>
                          <div class="main-price mt-0 d-block text-center">
                            <h3 class="theme-color">$78.00</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="product-box">
                        <div class="img-wrapper">
                          <div class="front">
                            <a href="/shop_left_slidebar">
                              <img loading="lazy" src="/voxo/voxoapp/static/assets/images/fashion/product/front/3.jpg"
                                class="bg-img blur-up lazyload" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="product-details text-center">
                          <div class="rating-details d-block text-center">
                            <span class="font-light grid-content">B&Y Jacket</span>
                          </div>
                          <div class="main-price mt-0 d-block text-center">
                            <h3 class="theme-color">$78.00</h3>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="product-box">
                        <div class="img-wrapper">
                          <div class="front">
                            <a href="/shop_left_slidebar">
                              <img loading="lazy" src="/voxo/voxoapp/static/assets/images/fashion/product/front/4.jpg"
                                class="bg-img blur-up lazyload" alt="">
                            </a>
                          </div>
                        </div>
                        <div class="product-details text-center">
                          <div class="rating-details d-block text-center">
                            <span class="font-light grid-content">B&Y Jacket</span>
                          </div>
                          <div class="main-price mt-0 d-block text-center">
                            <h3 class="theme-color">$78.00</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cart Successful End -->

  <!-- theme Setting Start -->
  <!-- <div class="theme-setting">
    <ul>
        <li>
            <button id="darkButton" class="btn btn-sm dark-buttton">Dark</button>
        </li>
        <li>
            <button class="btn btn-sm rtl-button">RTL</button>
        </li>
        <li class="color-picker">
            <input type="color" class="form-control form-control-color" id="ColorPicker1" value="#7520dd"
                title="Choose your color">
        </li>
    </ul>
</div> -->
  <!-- theme Setting End -->

  <!-- tap to top Section Start -->
  <div class="tap-to-top">
    <a href="#home">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- tap to top Section End -->

  <div class="bg-overlay"></div>

  {% include 'commons/scripts.html' %}
</body>

</html>